@using mitoSoft.Razor.Components
@using mitoSoft.Razor.Components.Enums
@using mitoSoft.Razor.Components.Templates

@inherits SynchronousDialog

<div class="mitosoft-spinner">
    <div class="mitosoft-spinner-modal">
        <ModalTemplate Visibility="@base.Visibility" Title="@Properties.Resources.please_wait_" ShowCloseButton="false">
            <Content>
                <div class="text-center">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
            </Content>
        </ModalTemplate>
    </div>
</div>

@code {
    [Parameter]
    public Action OnShow { get; set; }

    [Parameter]
    public Action OnHide { get; set; }

    public override void Show()
    {
        this.OnShow?.Invoke();
        base.Show();
    }

    public void Hide()
    {
        this.Close(DialogResult.None);
        this.OnHide?.Invoke();
    }
}