@using mitoSoft.Razor.Components
@using mitoSoft.Razor.Components.Enums
@using mitoSoft.Razor.Components.Templates

@inherits SynchronousDialog

<ModalTemplate Visibility="@base.Visibility" Title="@Properties.Resources.please_wait_" ShowCloseButton="false">
    <Content>
        <div class="text-center">
            <div class="spinner-border mitosoft-spinner mitosoft-modal-spinner" role="status">
            </div>
        </div>
    </Content>
</ModalTemplate>

@code {
    [Parameter]
    public Action OnShow { get; set; }

    [Parameter]
    public Action OnHide { get; set; }

    public override void Show()
    {
        this.OnShow?.Invoke();
        base.Show();
    }

    public void Hide()
    {
        this.Close(DialogResult.None);
        this.OnHide?.Invoke();
    }
}