
<style>
    .mitosoft-spinner-overlay-container {
        z-index: 5000;
        width: 100vw;
        height: 100vh;
        color: white;
    }

    .mitosoft-spinner-overlay-background {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.9);
        z-index: 4000;
        width: 100%;
        height: 100%;
    }
</style>

@if (this.ShowSpinner)
{
    <div class="mitosoft-spinner">
        <div class="mitosoft-spinner-overlay">
            <div class="mitosoft-spinner-overlay-background">
                <div class="mitosoft-spinner-overlay-container">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Action OnShow { get; set; }

    [Parameter]
    public Action OnHide { get; set; }

    protected bool ShowSpinner { get; set; }

    public virtual void Show()
    {
        if (this.ShowSpinner == false)
        {
            this.ShowSpinner = true;

            this.OnShow?.Invoke();

            this.InvokeAsync(StateHasChanged);
        }
    }

    public virtual void Hide()
    {
        if (this.ShowSpinner == true)
        {
            this.ShowSpinner = false;

            this.OnHide?.Invoke();

            this.InvokeAsync(StateHasChanged);
        }
    }
}