
<style>
    .mitosoft-spinner-overlay-container {
        z-index: 5000;
        width: 100vw;
        height: 100vh;
        color: white;
    }

    .mitosoft-spinner-overlay-background {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.9);
        z-index: 4000;
        width: 100%;
        height: 100%;
    }
</style>

@if (this.ShowSpinner)
{
    <div class="mitosoft-spinner">
        <div class="mitosoft-spinner-overlay">
            <div class="mitosoft-spinner-overlay-background">
                <div class="mitosoft-spinner-overlay-container">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Action OnShow { get; set; }

    [Parameter]
    public Action OnHide { get; set; }

    private bool _showSpinner;
    [Parameter]
    public bool ShowSpinner
    {
        get
        {
            return this._showSpinner;
        }
        set
        {
            if (value && !this._showSpinner)
            {
                this.OnShow?.Invoke();
                this._showSpinner = true;
                this.InvokeAsync(StateHasChanged);
            }
            else if (!value && this._showSpinner)
            {
                this.OnHide?.Invoke();
                this._showSpinner = false;
                this.InvokeAsync(StateHasChanged);
            }
        }
    }

    public virtual void Show()
    {
        this.ShowSpinner = true;
    }

    public virtual void Hide()
    {
        this.ShowSpinner = false;
    }
}